spring:
  application:
    name: ms-gym
  datasource:
    url: jdbc:postgresql://localhost:5432/gymsys_test
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
server:
  port: 0